OPENAI_API_KEY='api key llm'
OPENAI_URL="https://openai.api.proxyapi.ru/v1"
OPENAI_MODEL='gpt-4o-mini'
OPENAI_TEMPERATURE=0.7
Embeddings_model='text-embedding-3-small'

VK_token = 'token vk api'
# Настройка прокси (если используете)
# proxy = "http://10.0.18.52:3128"
# id админа VK - число
vk_admin=111111
# печать отладки
DEBUG=True or False
rag_file='data\rag.xlsx'
